* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  font-family: "Cinzel", serif;
  background-color: #ffffff;
  height: 82px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
header .header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-box a {
  text-decoration: none;
  color: black;
}
header .header-box span {
  margin: 0px 10px;
  font-size: 16px;
  cursor: pointer;
}
header .header-box .logo {
  display: block;
  background-image: url(../image/logo-qc-terme.png);
  background-size: 320px 46px;
  background-position: -160px center;
  width: 160px;
  height: 46px;
  margin: 18px 0;
}
header .hamburger-menu {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Mulish", sans-serif;
}
header .hamburger-menu .ita-descrizione {
  width: 65%;
  height: 100%;
  background-color: #eeeeee;
  padding: 50px;
}
header .hamburger-menu .ita-descrizione .row-chiusura {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
header .hamburger-menu .ita-descrizione .row-chiusura a {
  text-decoration: none;
  color: #333e47;
  font-size: 20px;
}
header .hamburger-menu .ita-descrizione .testo-italiano {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
header .hamburger-menu .ita-descrizione .testo-italiano p {
  color: #8f9d9d;
  font-size: 20px;
  line-height: 28px;
}
header .hamburger-menu .voci-menu {
  width: 35%;
  height: 100%;
  background-color: #333e47;
  padding: 50px;
  font-family: "Cinzel", serif;
}
header .hamburger-menu .voci-menu .logo {
  display: block;
  background-image: url(../image/logo-qc-terme.png);
  background-size: 450px 64px;
  background-repeat: no-repeat;
  background-position: 0 top;
  width: 225px;
  height: 88px;
  margin-top: 30px;
}
header .hamburger-menu .voci-menu .menu-principale ul {
  list-style-type: none;
}
header .hamburger-menu .voci-menu .menu-principale ul li {
  margin: 10px;
}
header .hamburger-menu .voci-menu .menu-principale ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}
header .hamburger-menu .voci-menu .menu-principale ul li a:hover {
  color: #8f9d9d;
}

footer {
  margin-top: 82px;
  color: #8f9d9d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
footer .footer-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 0px;
}
footer .footer-box .logo {
  display: block;
  background-image: url(../image/logo-qc-terme.png);
  background-size: 320px 46px;
  background-position: -160px center;
  width: 160px;
  height: 46px;
  margin-bottom: 28px;
}
footer .footer-box .footer-right h2 {
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  font-weight: normal;
  margin-right: 50px;
}
footer .footer-box .footer-right h2:hover {
  color: #333e47;
}
footer .footer-box .footer-right i {
  cursor: pointer;
  font-size: 30px;
  font-weight: normal;
  margin-right: 30px;
}
footer .footer-box .footer-right i:hover {
  color: #333e47;
}

#home {
  margin-bottom: 380px;
}
#home .sfondo img {
  vertical-align: middle;
  width: 100%;
}
#home .testo {
  padding: 40px 0px;
}
#home .testo h1 {
  color: #333e47;
  font-size: 55px;
  font-weight: 700;
}
#home .testo p {
  color: #8f9d9d;
  margin: 20px 0px;
  font-size: 16px;
}
#home .contenuto-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#home .contenuto-home .card-container {
  width: 367.359px;
  height: 489.81px;
}
#home .contenuto-home .card-container img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
#home .contenuto-home .card-container img:hover {
  border-radius: 20px;
  transform: scale(0.8);
}
#home .contenuto-home .card-container h4 {
  font-size: 16px;
  color: #8f9d9d;
  margin-top: 40px;
}
#home .contenuto-home .card-container h2 {
  font-size: 25px;
  color: #333e47;
  margin-top: 20px;
}
#home .contenuto-home .card-container p {
  font-size: 16px;
  color: #8f9d9d;
  margin-top: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}
#home .contenuto-home .card-container a {
  text-decoration: none;
  color: #8f9d9d;
  font-weight: bold;
  font-size: 16px;
}
#home .contenuto-home .card-container a i {
  font-size: 12px;
}
#home .contenuto-home .card-container a:hover {
  color: #333e47;
}

#destinazioni {
  margin-bottom: 150px;
  margin-top: 82px;
}
#destinazioni .testo {
  padding: 40px 0px;
}
#destinazioni .testo h1 {
  color: #333e47;
  font-size: 55px;
  font-weight: 700;
}
#destinazioni .testo p {
  color: #8f9d9d;
  margin-top: 20px;
  font-size: 16px;
}
#destinazioni .contenuto-destinazioni {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
#destinazioni .contenuto-destinazioni .card-container {
  width: 367.359px;
  height: 489.81px;
  margin: 90px 0px;
}
#destinazioni .contenuto-destinazioni .card-container img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
#destinazioni .contenuto-destinazioni .card-container img:hover {
  border-radius: 20px;
  transform: scale(0.8);
}
#destinazioni .contenuto-destinazioni .card-container h4 {
  font-size: 16px;
  color: #8f9d9d;
  margin-top: 20px;
}
#destinazioni .contenuto-destinazioni .card-container h2 {
  font-size: 25px;
  color: #333e47;
  margin-top: 20px;
}
#destinazioni .contenuto-destinazioni .card-container h3 {
  font-size: 22px;
  color: #333e47;
  font-weight: normal;
}

#termali {
  margin-bottom: 150px;
  margin-top: 82px;
}
#termali .testo {
  padding: 40px 0px;
}
#termali .testo h1 {
  color: #333e47;
  font-size: 55px;
  font-weight: 700;
}
#termali .testo p {
  color: #8f9d9d;
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 30px;
}
#termali h2 {
  color: #333e47;
  font-size: 45px;
  font-weight: 700;
}
#termali .contenuto-destinazioni {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  margin-bottom: 100px;
}
#termali .contenuto-destinazioni .card-container {
  width: 367.359px;
  height: 489.81px;
  margin: 90px 0px;
}
#termali .contenuto-destinazioni .card-container img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
#termali .contenuto-destinazioni .card-container img:hover {
  border-radius: 20px;
  transform: scale(0.8);
}
#termali .contenuto-destinazioni .card-container h4 {
  font-size: 16px;
  color: #8f9d9d;
  margin-top: 20px;
}
#termali .contenuto-destinazioni .card-container h2 {
  font-size: 25px;
  color: #333e47;
  margin-top: 20px;
}
#termali .contenuto-destinazioni .card-container h3 {
  font-size: 22px;
  color: #333e47;
  font-weight: normal;
}

#prodotti {
  margin-bottom: 380px;
  margin-top: 82px;
}
#prodotti .testo {
  padding: 40px 0px;
}
#prodotti .testo h1 {
  color: #333e47;
  font-size: 55px;
  font-weight: 700;
}
#prodotti .testo p {
  color: #8f9d9d;
  margin: 20px 0px;
  font-size: 16px;
}
#prodotti .contenuto-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
#prodotti .contenuto-home .card-container {
  width: 367.359px;
  height: 489.81px;
}
#prodotti .contenuto-home .card-container img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
#prodotti .contenuto-home .card-container img:hover {
  border-radius: 20px;
  transform: scale(0.8);
}
#prodotti .contenuto-home .card-container h4 {
  font-size: 16px;
  color: #8f9d9d;
  margin-top: 40px;
}
#prodotti .contenuto-home .card-container h2 {
  font-size: 25px;
  color: #333e47;
  margin-top: 20px;
}
#prodotti .contenuto-home .card-container p {
  font-size: 16px;
  color: #8f9d9d;
  margin-top: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}
#prodotti .contenuto-home .card-container a {
  text-decoration: none;
  color: #8f9d9d;
  font-weight: bold;
  font-size: 16px;
}
#prodotti .contenuto-home .card-container a i {
  font-size: 12px;
}
#prodotti .contenuto-home .card-container a:hover {
  color: #333e47;
}

#hotel {
  margin-bottom: 150px;
  margin-top: 82px;
}
#hotel .testo {
  padding: 40px 0px;
}
#hotel .testo h1 {
  color: #333e47;
  font-size: 55px;
  font-weight: 700;
}
#hotel .testo p {
  color: #8f9d9d;
  margin-top: 20px;
  font-size: 16px;
}
#hotel .contenuto-destinazioni {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
#hotel .contenuto-destinazioni .card-container {
  width: 367.359px;
  height: 489.81px;
  margin: 90px 0px;
}
#hotel .contenuto-destinazioni .card-container img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
#hotel .contenuto-destinazioni .card-container img:hover {
  border-radius: 20px;
  transform: scale(0.8);
}
#hotel .contenuto-destinazioni .card-container h4 {
  font-size: 16px;
  color: #8f9d9d;
  margin-top: 20px;
}
#hotel .contenuto-destinazioni .card-container h2 {
  font-size: 25px;
  color: #333e47;
  margin-top: 20px;
}
#hotel .contenuto-destinazioni .card-container h3 {
  font-size: 22px;
  color: #333e47;
  font-weight: normal;
}

#store {
  margin-bottom: 250px;
  margin-top: 82px;
}
#store .testo {
  padding: 40px 0px;
}
#store .testo h1 {
  color: #333e47;
  font-size: 55px;
  font-weight: 700;
}
#store .testo p {
  color: #8f9d9d;
  margin-top: 20px;
  font-size: 16px;
}
#store .contenuto-destinazioni {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}
#store .contenuto-destinazioni .card-container {
  width: 367.359px;
  height: 489.81px;
  margin: 140px 0px;
}
#store .contenuto-destinazioni .card-container img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
#store .contenuto-destinazioni .card-container img:hover {
  border-radius: 20px;
  transform: scale(0.8);
}
#store .contenuto-destinazioni .card-container h4 {
  font-size: 16px;
  color: #8f9d9d;
  margin-top: 20px;
}
#store .contenuto-destinazioni .card-container h2 {
  font-size: 25px;
  color: #333e47;
  margin-top: 20px;
}
#store .contenuto-destinazioni .card-container h3 {
  font-size: 22px;
  color: #333e47;
  font-weight: normal;
}
#store .contenuto-destinazioni .card-container p {
  font-size: 16px;
  color: #333e47;
  margin-top: 20px;
}