#prodotti{
    margin-bottom: 380px;
    margin-top: 82px;

    .testo{
        padding: 40px 0px;

        h1{
            color: rgb(51, 62, 71);
            font-size: 55px;
            font-weight: 700;
        }

        p{
            color: $testo_grey;
            margin: $big_space 0px;
            font-size: 16px;
        }
    }

    .contenuto-home{
        @include flex-row(space-around, center);
        cursor: pointer;

        .card-container{
            width: 367.359px;
            height: 489.81px;


            img{
                width: 100%;
                height: 100%;
                transition: all 1s;

                &:hover{
                    border-radius: 20px;
                    transform:scale(.8);
                }
            }

            h4{
                font-size: $fontsize;
                color: $testo_grey;
                margin-top: 40px;
            }

            h2{
                font-size: 25px;
                color: rgb(51, 62, 71);
                margin-top: 20px;
            }

            p{
                font-size: $fontsize;
                color: $testo_grey;
                margin-top: 20px;
                line-height: 28px;
                margin-bottom: 40px;
            }

            a{
                text-decoration: none;
                color: $testo_grey;
                font-weight: bold;
                font-size: $fontsize;

                i{
                    font-size: 12px;
                }

                &:hover{
                    color: rgb(51, 62, 71);
                }
            }
        }
    }

}
